$font-size-msg: 12pt;
$font-size-s: 9pt;
$font-size-footer: 8pt;
$font-size-x: 24pt;
$icon-size: 32px;
$color-footer: #0000007f;
$color-outgoing: #ffe8f0;
$color-incoming: #fff7fa;
$color-border: #fab0d0;
$color-button-border: #fac5da;
$color-mic: #fc4c4e;
$color-mic-active: #ff3f3f;
$color-title: #fc4c4e;
$color-disabled-button: #cc4c4e;
$color-button-s: #fc4c4eaf;
$color-location: #fc4c4eaf;
$color-assistant-background: #f9f8f0;
$main-font-family: 'Roboto', sans-serif;
$title-font-family: 'Pacifico', cursive;
$message-border-radius: 10px;
$font-size-readability: 18pt;

$color-night-assistant-background: #142634;
$color-night-outgoing: #7e8889;
$color-night-incoming: #bdc7c1;
$color-night-button-border: #5a666b;

@media all and (display-mode: standalone) {
  .addToHomeScreenButton {
    display: none;
  }
}
.addToHomeScreenButton {
  text-align: center;
  width: 70%;
  font-size: 10pt;
  font-family: sans-serif;
  box-sizing: border-box;
  border-bottom: 2px solid $color-night-outgoing;
  font-weight: 800;
  padding: 5px;
}

@mixin buttonsizing($property) {
  height: $property;
  width: $property;
  font-size: $property;
}

* {
  padding: 0;
  margin: 0;
}
.night {
  transition: 0.5s all;
  &.header {
    border-bottom: 2px solid $color-night-button-border;
  }
  &.assistant {
    background: $color-night-assistant-background;
  }
  &.message {
    box-shadow: 1px 1px 2px 0px $color-night-button-border;
  }
  &.message.incoming {
    background: $color-night-incoming;
  }
  &.message.outgoing {
    background: $color-night-outgoing;
  }
  &.userspeech {
    background-color: #f0f0f0;
  }
  &.button {
    box-shadow: inset 0 0 0 1px $color-night-button-border;
  }
}
.addToHomeScreenPrompt {
  display: none;
  position: fixed;
  display: flex;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  overflow: auto;
  box-shadow: 0 0 3px 0px $color-night-incoming;
  .promptAdd {
    border: 1px solid $color-title;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    button {
      margin: 10px 0;
      width: 60%;
      height: 35px;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
      &.add {
        background-color: $color-outgoing;
      }
      &.cancel {
        background-color: $color-incoming;
      }
    }
  }
}

.assistant {
  background: linear-gradient(
    to bottom,
    rgba(220, 220, 220, 0.7) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 0;
  box-sizing: border-box;

  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.header {
  font-family: $main-font-family;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid $color-border;
  text-align: center;
  padding-bottom: 1vh;
  h1.title {
    font-family: $title-font-family;
    font-weight: 700;
    color: $color-title;
    text-shadow: 2px 2px 0px $color-border;
    margin-bottom: -3px;
  }
  h6.location {
    cursor: pointer;
    color: $color-location;
    font-weight: 300;
    font-size: $font-size-s;
    i {
      margin-right: 5px;
    }
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff, 20%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }
  &:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}

.startBtn {
  padding: 10px;
  border-radius: 5px;
  background: $color-title;
  border: 1px solid $color-button-border;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px $color-night-outgoing;
  &:hover {
    box-shadow: inset 0 0 4px 0px $color-border;
  }
  &:focus {
    outline: 0;
  }
  &.night {
    background: $color-night-outgoing;
    border: 1px solid $color-night-button-border;
  }
  &:disabled {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
    background: $color-disabled-button;
  }
}

.text-input {
  width: 100%;
  margin-top: 10px;
  .sendMessageBtn {
    height: 34px;
    width: 34px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px $color-border;
    position: absolute;
    margin-left: -35px;
    padding-right: 2px;
    font-size: 14pt;
    background-color: $color-outgoing;
    color: $color-button-s;
    &:focus {
      outline: none;
    }
    &:hover {
      transition: 0.4s ease;
      box-shadow: inset 0 0 0 1px $color-mic,
        0px 2px 20px -5px rgba(0, 0, 0, 0.57);
    }
  }
  .userspeech {
    &.interim {
      color: $color-night-button-border;
    }
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-right: 44px;
    padding-left: 10px;
    height: 34px;
    font-size: $font-size-msg - 2pt;
    font-family: $main-font-family;
    font-weight: 300;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 0 0 1px $color-border;
    &:focus {
      box-shadow: 0 0 2px 2px $color-border;
      outline: none;
    }
  }
}
.messages.readability {
  font-size: $font-size-readability !important;
}
.messages {
  flex-grow: 15;
  scroll-behavior: smooth;
  box-shadow: 0px 20px 50px -60px rgba(0, 0, 0, 0.75);
  font-size: $font-size-msg;
  width: 100%;
  font-family: $main-font-family;
  font-weight: 300;
  padding-top: 1vh;
  padding-bottom: 1vh;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
}
.message {
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  width: 75%;
  border-radius: $message-border-radius;
  box-shadow: 1px 1px 2px 0px $color-border;
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
  &.incoming {
    background-color: $color-incoming;
    margin-right: auto;
  }
  &.outgoing {
    background-color: $color-outgoing;
    margin-left: auto;
  }
}
.actionButtons {
  border-bottom: 1px solid $color-border;
  flex-grow: 1;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .button {
    cursor: pointer;
    color: $color-button-s;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px $color-button-border;
    i {
      box-sizing: border-box;
    }
    &:hover {
      transition: 0.4s ease;
      box-shadow: inset 0 0 0 1px $color-mic,
        0px 2px 20px -5px rgba(0, 0, 0, 0.57);
    }
    &.busy {
      background-color: #ff000010;
    }
  }
  .big {
    color: $color-mic;
    margin: 0 5px;
    i {
      @include buttonsizing(42px);
    }
  }
  .small {
    margin: 0 2px;
    i {
      @include buttonsizing(16px);
    }
  }
}
